[run]
# *signature_bootstrap*  # needed for ApexPath.py
#  */usr/Ext/*           # needed for ApexPath.py
omit =
    /usr/*
    squashfs-root/usr/Mod/*
    *signature_bootstrap*
    */usr/Ext/*

[report]
# Regular expressions to exclude code blocks from reports:
exclude_lines =
    # Re-enable the standard pragma.
    pragma: no cover

    # A pragma to specify that the unit test suite does not yet cover something.
    pragma: no unit cover


    # Ignore disabled code blocks and tracing:
    if false:
    if tracing:

    # Ignore the startard startup lines at the end.
    if __name__ == \.__main__\.:

    # Ignore various execption blocks.
    raise NotImplementedError

    # Ignore `assert False`, since it can't really ever covered.
    assert False
